rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /temp/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow delete: if request.auth != null && request.auth.uid == userId;
    }
    match /public/{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }
  }
}
